In [20]:
import pandas as pd

Q1. List any five functions of the pandas library with execution.
Ans-Sure, here are five functions from the pandas library along with their brief explanations and example executions:

In [ ]:
'''Example(1)'''
#pd.read_csv():   This function is used to read data from a CSV file into a pandas DataFrame

df=pd.read_csv('data.csv')   #'data.csv' file named

print(df.head())   # Display the  few rows of dataframe

In [2]:
'''Example(2)'''
#df.head(): This function is used to display the first few rows of a DataFrame

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 22, 28]}

df = pd.DataFrame(data)

print(df.head())

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   22
3    David   28

In [3]:
'''Example(3)'''
#df.info(): This function provides a concise summary of a DataFrame, including the data types of columns and memory usage.


data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 22]}

df = pd.DataFrame(data)

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes
None

In [4]:
'''Example(4)'''
#df.groupby(): This function is used to group data in a DataFrame based on one or more columns, allowing for aggregation operations

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Department': ['HR', 'Finance', 'HR', 'IT'],
        'Salary': [60000, 70000, 55000, 80000]}

df = pd.DataFrame(data)

grouped = df.groupby('Department')['Salary'].mean()
print(grouped)

Department
Finance    70000.0
HR         57500.0
IT         80000.0
Name: Salary, dtype: float64

In [5]:
'''Example(5)'''
#df.merge(): This function is used to merge two DataFrames based on common columns.

data1 = {'ID': [1, 2, 3],
         'Name': ['Alice', 'Bob', 'Charlie']}

data2 = {'ID': [2, 3, 4],
         'Age': [25, 30, 22]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

merged_df = df1.merge(df2, on='ID')
print(merged_df)

   ID     Name  Age
0   2      Bob   25
1   3  Charlie   30

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [13]:
'''Solution(2)'''
def reindex_with_increment(DF):
    new_index = range(1, len(DF)*2, 2)
    DF_reindexed = DF.copy()
    DF_reindexed.index = new_index
    return DF_reindexed

data=pd.DataFrame({'A':[1,2,4],'B':[5,6,7],'C':[9,8,7]})

DF = pd.DataFrame(data)
DF_reindexed = reindex_with_increment(DF)
print(DF_reindexed)

   A  B  C
1  1  5  9
3  2  6  8
5  4  7  7

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [27]:
'''Solution'''

df3=pd.DataFrame({'Values':[10, 20, 30, 40, 50]})
def return_sum():
    sum=0
    for i in range(3):
        sum=sum+df3['Values'][i]
    return sum
df4=return_sum()

In [28]:
df4

60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [49]:
'''Ans(4)'''
df5=pd.DataFrame({'Text':['rohit is here','he is doing coding here','He loves coding','And i like rohit']})

df5['Word_Count']=df5['Text'].apply(lambda x: len(x.split()))

In [50]:
df5

                      Text  Word_Count
0            rohit is here           3
1  he is doing coding here           5
2          He loves coding           3
3         And i like rohit           4

Q5. How are DataFrame.size() and DataFrame.shape() different?

Ans-in Pandas, DataFrame.size and DataFrame.shape are both attributes used to obtain information about the structure of a DataFrame, but they provide different types of information:

DataFrame.size:

DataFrame.size returns the total number of elements in the DataFrame, which is equivalent to the number of rows multiplied by the number of columns.The value returned by DataFrame.size is a single integer representing the total number of data points in the DataFrame.

DataFrame.shape:

DataFrame.shape returns a tuple containing two values: the number of rows and the number of columns in the DataFrame.
the value returned by DataFrame.shape is a tuple (rows, columns) that gives you an idea of the dimensions of the DataFrame.

In [ ]:
'''Example of Question(5)'''
data = {'A': [1, 2, 3],
        'B': [4, 5, 6],
        'C': [7, 8, 9]}

df = pd.DataFrame(data)

print("DataFrame.size:", df.size)  #this is give the total no of elment dataframe has
print("DataFrame.shape:", df.shape)  #this return the total no of row and columns in tuple

Q6. Which function of pandas do we use to read an excel file?
Ans-We use read_excel() to read the excel file in pandas

Example:
how to use this funtion-
pd.read_excel('filename'), where 'pd' ,pandas is imported as pd  and filename is excel with extention
like rht.excel or titanic.csv

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [80]:
'''Code for Question(7)'''
Df=pd.DataFrame({'Email':['rht@gmail.com','rohan@gmail.com','sandeep@gmail.com','sohan@gmail.com']})
Df

               Email
0      rht@gmail.com
1    rohan@gmail.com
2  sandeep@gmail.com
3    sohan@gmail.com

In [85]:

Df['Username']=Df['Email'].apply(lambda x:x.split('@')[0])
Df

               Email Username
0      rht@gmail.com      rht
1    rohan@gmail.com    rohan
2  sandeep@gmail.com  sandeep
3    sohan@gmail.com    sohan

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
  A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2
Your function should select the following rows: 
  A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [3]:
'''Ans for Question(8)'''
dF=pd.DataFrame({'A':[3,8,6,2,9],
                 'B':[5,2,9,3,1],
                 'C':[1,7,4,5,2]
                })

In [13]:
dF[(dF['A']>5) & (dF['B']<10)]    #since on the basis of condition given in column 'A' at index(1,2,4) is greater than 5 and 'B' also have some condtion and we got the value

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [14]:
'''Ans(9)'''
df=pd.DataFrame({'Values':[1,2,3,4,5,6]})

In [17]:
df['Values'].mean()  #this function is used to get the mean of the data

3.5

In [18]:
df['Values'].median()  #this function is used to get the median

3.5

In [19]:
df['Values'].std()   #this function is used to get the standard deviation

1.8708286933869707

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [6]:
'''Ans(10)'''
import pandas as pd

def calculate_moving_average(df3):
    df3['MovingAverage'] = df3['Sales'].rolling(window=7,min_periods=1 ).mean()
    return df3

# Example usage
data = {'Date': ['2023-08-01', '2023-08-02', '2023-08-03', '2023-08-04', '2023-08-05', '2023-08-06', '2023-08-07'],
        'Sales': [100, 150, 200, 120, 180, 250, 220]}

df3 = pd.DataFrame(data)
df3['Date'] = pd.to_datetime(df3['Date'])  # Convert the 'Date' column to datetime

df_with_moving_avg = calculate_moving_average(df3)
df3

        Date  Sales  MovingAverage
0 2023-08-01    100     100.000000
1 2023-08-02    150     125.000000
2 2023-08-03    200     150.000000
3 2023-08-04    120     142.500000
4 2023-08-05    180     150.000000
5 2023-08-06    250     166.666667
6 2023-08-07    220     174.285714

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [8]:
'''Ans(11)'''
import pandas as pd

def add_weekday_column(df):
    # Convert the 'Date' column to a datetime object if it's not already
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Create a new 'Weekday' column with weekday names
    df['Weekday'] = df['Date'].dt.strftime('%A')
    
    return df

# Example usage:
data = {'Date': ['2023-09-01', '2023-09-02', '2023-09-03', '2023-09-04', '2023-09-05']}
df = pd.DataFrame(data)
result_df = add_weekday_column(df)
result_df

        Date   Weekday
0 2023-09-01    Friday
1 2023-09-02  Saturday
2 2023-09-03    Sunday
3 2023-09-04    Monday
4 2023-09-05   Tuesday

In [10]:
import pandas as pd

def select_rows_within_date_range(df, start_date, end_date):
    # Converting the 'Date' column to datetime objects if it's not already
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Using boolean indexing to select rows within the specified date range
    selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    
    return selected_rows

# Example usage:
data = {'Date': ['2023-01-01', '2023-01-15', '2023-01-20', '2023-02-05']}
df = pd.DataFrame(data)
start_date = pd.to_datetime('2023-01-01')
end_date = pd.to_datetime('2023-01-31')
result_df = select_rows_within_date_range(df, start_date, end_date)
result_df

        Date
0 2023-01-01
1 2023-01-15
2 2023-01-20