In [2]:
import pandas as pd

In [9]:
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df1 = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df1

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [23]:
'''Ans(1)'''
df[['course_name', 	'duration']][2:3]

  course_name  duration
2    Big Data         6

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?
Ans-
in Pandas, both the loc and iloc functions are used for selecting data from a DataFrame, but they have different ways of indexing and selecting data. Here's the key difference between them:

loc (Label-based Selection):
1.loc is primarily used for label-based indexing, meaning it selects data based on row and column labels (names).
2.We provide the row and column labels as arguments to loc.
3.The selection includes both the start and stop indices.
4.It uses the format df.loc[row_label, column_label].


iloc (Integer-based Selection):
1.iloc is used for integer-based indexing, meaning it selects data based on integer positions (0-based indices).
2.We provide the row and column positions as arguments to iloc.
3.The selection includes the start index but excludes the stop index .
4.It uses the format df.iloc[row_position, column_position].

In [3]:
'''Ans for (loc)'''
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]}, index=['X', 'Y', 'Z'])
result = df.loc['Y', 'A']  # Selects the value in row 'Y' and column 'A'
result

2

In [8]:
import pandas as pd
    
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
result = df.iloc[1, 0]  # Selects the value in the second row (index 1) and first column (index 0)
result

2

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [12]:
new_df=df1.reindex(index=[3,0,1,2] )

In [13]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [14]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [15]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Explanation of new_df.loc[2] and new_df.iloc[2]

new_df.loc[2]-loc is primarily used for label-based indexing, meaning it selects data based on row and column labels (names). in this only row labeled (2) is passed and it gives the output based on the lavel and since column label is not given  so it giving output from both the columns and the output is-
course_name    Big Data
duration              6

new_df.iloc[2]-iloc is used for integer-based indexing, meaning it selects data based on integer positions (0-based indices).
so by 0-based indices index(1) is new_df.iloc[2] we getting the different output that is-
course_name    Machine Learning
duration                      3

In [4]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df2 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df2

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.088989  0.154155  0.594062  0.622026  0.474773  0.083099
2  0.155631  0.872984  0.812365  0.268427  0.684256  0.348015
3  0.410766  0.475947  0.989207  0.544996  0.116531  0.211645
4  0.179201  0.538974  0.894637  0.169514  0.745448  0.006962
5  0.330341  0.050978  0.478764  0.123334  0.413877  0.581494
6  0.625371  0.765868  0.517869  0.253478  0.858582  0.441543

Q4. Write a code to find the following statistical measurements for the above dataframe df2:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [31]:
'''(i) mean of each and every column present in the dataframe.'''
df2.mean()

column_1    0.561626
column_2    0.510043
column_3    0.549608
column_4    0.560667
column_5    0.504025
column_6    0.490631
dtype: float64

In [46]:
'''(ii) standard deviation of column, ‘column_2’'''

print('std_column_2 = ',df2['column_2'].std())

std_column_2 =  0.21958227513535272

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [5]:
df2

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.088989  0.154155  0.594062  0.622026  0.474773  0.083099
2  0.155631  0.872984  0.812365  0.268427  0.684256  0.348015
3  0.410766  0.475947  0.989207  0.544996  0.116531  0.211645
4  0.179201  0.538974  0.894637  0.169514  0.745448  0.006962
5  0.330341  0.050978  0.478764  0.123334  0.413877  0.581494
6  0.625371  0.765868  0.517869  0.253478  0.858582  0.441543

In [20]:
df2.loc[2,'column_2']="rht"

In [21]:
df2

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.088989  0.154155  0.594062  0.622026  0.474773  0.083099
2  0.155631       rht  0.812365  0.268427  0.684256  0.348015
3  0.410766  0.475947  0.989207  0.544996  0.116531  0.211645
4  0.179201  0.538974  0.894637  0.169514  0.745448  0.006962
5  0.330341  0.050978  0.478764  0.123334  0.413877  0.581494
6  0.625371  0.765868  0.517869  0.253478  0.858582  0.441543

In [22]:
df2['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

'''Explanation Question(5)'''
We cannot calculate the mean of a column_2 that contains both numeric (float) and string values. If we replace a numeric value with a string in a column, it will no longer be possible to calculate the mean for that column because the mean operation requires all values in the column to be of a numeric data type.

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

'''Answer(6)'''
In pandas, window functions are used for performing calculations on a "window" of data within a DataFrame. These functions are particularly useful for performing rolling or expanding calculations over a specified range of data points, such as moving averages, cumulative sums, or aggregations within a sliding window. Window functions operate on a set of rows related to the current row based on a defined window specification.

There are several types of window functions available in pandas:

Rolling Functions: These functions operate on a rolling window of fixed size moving through the DataFrame. The window can be defined by a number of rows or a time period. Common rolling functions include:
1.rolling().mean(): Calculates the rolling mean.
2.rolling().sum(): Calculates the rolling sum.
3.rolling().min(): Calculates the rolling minimum.
4.rolling().max(): Calculates the rolling maximum.

Expanding Functions: Expanding functions include all previous rows up to the current row in the calculation. They gradually expand the window of data as it moves through the DataFrame. Common expanding functions include:
1.expanding().mean(): Calculates the expanding mean.
2.expanding().sum(): Calculates the expanding sum.
3.expanding().min(): Calculates the expanding minimum.
4.expanding().max(): Calculates the expanding maximum.

Exponentially Weighted Functions: These functions assign weights to data points based on their distance from the current point. They are useful for calculating exponentially weighted moving averages (EWMA). Common exponentially weighted functions include:
 ewm().mean(): Calculates the exponentially weighted moving average.

Window Aggregations: These functions perform aggregations within a fixed-size window but return aggregated values for each row. Common window aggregations include:
 rolling().agg(): Allows us to apply custom aggregation functions to the rolling window.

Custom Window Functions: We can define and apply custom window functions using the apply method combined with the rolling or expanding objects. This enables us to perform custom calculations on defined windows of data.

In [26]:
'''Example of Question(6)'''
import pandas as pd

# Create a sample DataFrame
data = {'values': [1, 2, 3, 4, 5]}
df = pd.DataFrame(data)

# Calculate a rolling mean over a window of size 3
rolling_mean = df['values'].rolling(window=3).mean()
print(df)
rolling_mean

   values
0       1
1       2
2       3
3       4
4       5

0    NaN
1    NaN
2    2.0
3    3.0
4    4.0
Name: values, dtype: float64

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [45]:
'''Answer(7)'''
import datetime   #importing datetime function
current_date=datetime.datetime.now()
current_date
current_month=current_date.month  #extracting month from current date
current_year=current_date.year #extracting year from current date
print(current_month)    #prints current month
print(current_year)   #prints(current_year)

9
2023

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [49]:
'''Answer(8)'''
first_date=input()  #taking input first date
second_date=input()   #taking input second date
date1=pd.to_datetime(first_date) 
date2=pd.to_datetime(second_date)
date1-date2

 2023-09-15
 2023-09-13

Timedelta('2 days 00:00:00')

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

# Function to convert a specified column to categorical
def convert_to_categorical(df, column_name, category_order):
    df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)
    return df

# Function to read a CSV file
def read_csv(file_path):
    try:
        df = pd.read_csv(file_path)
        return df
    except FileNotFoundError:
        print("File not found. Please check the file path.")
        return None

# Input file path and column information from the user
file_path = input("Enter the CSV file path: ")
column_name = input("Enter the column name to convert to categorical: ")
category_order_str = input("Enter the category order (comma-separated, e.g., 'High,Medium,Low'): ")

# Split the category order input into a list
category_order = category_order_str.split(',')

# Read the CSV file
data = read_csv(file_path)

if data is not None:
    # Convert the specified column to categorical
    data = convert_to_categorical(data, column_name, category_order)
    
    # Display the sorted data
    sorted_data = data.sort_values(by=[column_name])
    print("\nSorted Data:")
    print(sorted_data)

In [ ]:
Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
'''Answer (10)'''
import pandas as pd
import matplotlib.pyplot as plt

# Function to read a CSV file
def read_csv(file_path):
    try:
        df = pd.read_csv(file_path)
        return df
    except FileNotFoundError:
        print("File not found. Please check the file path.")
        return None

# Function to visualize sales data using a stacked bar chart
def visualize_sales_data(df):
    # Group the data by product category and sum the sales over time
    grouped_data = df.groupby('Product_Category')['Sales'].sum()
    
    # Reshape the data for plotting
    stacked_data = df.pivot(index='Date', columns='Product_Category', values='Sales').fillna(0)
    
    # Create a stacked bar chart
    stacked_data.plot(kind='bar', stacked=True, figsize=(10, 6))
    
    # Set chart labels and title
    plt.xlabel('Date')
    plt.ylabel('Sales')
    plt.title('Stacked Bar Chart of Sales by Product Category Over Time')
    
    # Show the chart
    plt.legend(title='Product Category', loc='upper right')
    plt.show()

# Input file path from the user
file_path = input("Enter the CSV file path: ")

# Read the CSV file
data = read_csv(file_path)

if data is not None:
    # Ensure the 'Date' column is treated as a datetime type
    data['Date'] = pd.to_datetime(data['Date'])
    
    # Visualize the sales data using a stacked bar chart
    visualize_sales_data(data)

#since i don't have csv file containing sales date so leaving it here

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [15]:
'''Answer(11)'''

import pandas as pd
import statistics

file_path = input("Enter the file path of the CSV file containing student data: ")
# Function to calculate mean, median, and mode
def calculate_statistics(df):
    test_scores = df['Test_Score']
    
    mean = test_scores.mean()
    median = test_scores.median()
    mode = statistics.multimode(test_scores)
    
    return mean, median, mode

# Input file path from the user

# Read the CSV file into a Pandas DataFrame
try:
    df = pd.read_csv(file_path)
except FileNotFoundError:
    print("File not found. Please check the file path.")
    exit(1)

# Calculate mean, median, and mode
mean, median, mode = calculate_statistics(df)

# Display the results in a table format
print("+-----------+--------+")
print("| Statistic | Value  |")
print("+-----------+--------+")
print(f"| Mean      | {mean:.1f}   |")
print(f"| Median    | {median}     |")
print(f"| Mode      | {', '.join(map(str, mode))}   |")
print("+-----------+--------+")

Enter the file path of the CSV file containing student data:  student_details.csv

+-----------+--------+
| Statistic | Value  |
+-----------+--------+
| Mean      | 83.5   |
| Median    | 85.0     |
| Mode      | 85   |
+-----------+--------+

In [3]:
df4=pd.DataFrame({'student_ID':[1,2,3,4,5,6,7,8,9,10],
                  'Test_Score':[85,90,80,75,85,82,78,85,90,85]})

In [4]:
df4

   student_ID  Test_Score
0           1          85
1           2          90
2           3          80
3           4          75
4           5          85
5           6          82
6           7          78
7           8          85
8           9          90
9          10          85

In [12]:
df4.to_csv('student_details.csv',index=False)

In [13]:
pd.read_csv("student_details.csv")

   student_ID  Test_Score
0           1          85
1           2          90
2           3          80
3           4          75
4           5          85
5           6          82
6           7          78
7           8          85
8           9          90
9          10          85